body {
    width: 100vw;
    height: 100vh;
    
}
.content {
    width: 100%;
    height: 100%;
    position: relative;
}
.content:after {
    content: '';
    background-image: url('bg.jpg');
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;  
}
.box {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
form {
    margin-top: 10px;
    padding:15px;
}
form p {
    font-size: 35px; 
}
#currency1, #currency2 {
    font-size: 16px; 
}

.btn .fas {
    transform: rotate(90deg);
}
.chart {
    border: 1px solid rgb(153, 153, 204);
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 20px; 
}
.loadEffect {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: url('./loading.gif') 50% 50% no-repeat;
}
.buttons {
    display: flex;
    margin-bottom: 10px;
}
.buttons .btn {
    margin: 0 10px 0;
}
.buttons .far {
    font-size: 16px;
}

@media (max-width: 767px) {
    .box form p {
        font-size: 25px;
    }
    #currency1, #currency2 {
        font-size: 15px;
    }
    #refresh {
        font-size: 20px;
    }
    .klein {
        font-size: 11px;
    }
    .buttons>button {
        font-size: 11px;
    }
    .buttons .far {
        font-size: 11px;
    }
}
@media (max-width: 540px) {
    #currency1, #currency2 {
        font-size: 15px;
    }
    #refresh {
        font-size: 16px;
    }
    .buttons>button {
        font-size: 11px;
        padding: 3px
    }
    .buttons .far {
        font-size: 11px;
    }
}
@media (max-width: 414px) {
    .box form p {
        font-size: 25px; 
    }
    #currency1, #currency2 {
        font-size: 12px;
    }
    #refresh {
        font-size: 18px;
    }
    .klein {
        font-size: 10px;
    }
    .buttons>button {
        font-size: 10px;
        padding: 3px;
    }
    .buttons .far {
        font-size: 10px;
    }
}
@media (max-width: 375px) {
    .box form p {
        font-size: 25px; 
    }
    #currency1, #currency2 {
        font-size: 12px;
    }
    #refresh {
        font-size: 15px;
    }
    .klein {
        font-size: 8px;
    }
    .buttons>button {
        font-size: 8px;
        padding: 3px;
    }
    .buttons .far {
        font-size: 8px;
    }
}

@media (max-width: 320px) {
    .box form p {
        font-size: 25px; 
    }
    #currency1, #currency2 {
        font-size: 12px;
    }
    #refresh {
        font-size: 14px;
    }
    .klein {
        font-size: 8px;
    }
    .buttons>button {
        font-size: 8px;
        padding: 1px;
    }
    .buttons .far {
        font-size: 8px;
    }
}